#particle-canvas {
    position:fixed !important;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
body {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin: 0;

  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
    position: relative;
    float: right;
  }
  ul.header {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: rgba(1, 185, 41, 0);
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: rgba(55, 235, 0, 0.548);
  }

  .about {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
   }